.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

svg {
  min-width: 30px;
}

.title {
  position: relative;
  word-break: break-word;
  max-height: 70px;
  overflow: hidden;
  width: 100%;
  background-color: white;
}
