.cardWrapper {
  padding: 20px;
  margin-top: 20px;
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.formBlock {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.avatarBlock {
  width: 30%;
  align-self: center;

  @media (max-width: 768px) {
    width: 220px;
    align-self: self-start;
  }
}

.error {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: red;
}

.footer {
  display: flex;
  gap: 20px;
}
