.card {
  padding: 20px;
}

.titleBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}

.editableSpan {
  min-width: 300px;
}

.createTask {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
