.wrapper {
  display: inline-block;
  position: relative;

  @media (max-width: 1400px) {
    margin: 0 auto;
  }

  @media (max-width: 600px) {
    margin: 0;
  }
}

.menuBtn {
  width: 658px;

  @media (max-width: 1400px) {
    width: 533px;
  }

  @media (max-width: 600px) {
    width: 100%;
  }
}

.addressDropdown {
  overflow: auto;

  button {
    text-align: left;
    justify-content: flex-start;
    width: 100%;
  }
}

.loader {
  left: 150px;
  top: 50%;
  transform: translateY(-50%);

  @media (max-width: 500px) {
    right: -160px;
  }
}
