@font-face {
  font-family: 'Museo Sans Cyrl';
  font-style: normal;
  font-weight: 300;
  src: url('./assets/fonts/MuseoSansCyrl-Light.woff2') format('woff2'),
    url('./assets/fonts/MuseoSansCyrl-Light.woff') format('woff');
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('./assets/fonts/MuseoSansCyrl-Medium.woff2') format('woff2'),
    url('./assets/fonts/MuseoSansCyrl-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl';
  src: url('./assets/fonts/MuseoSansCyrl-Bold.woff2') format('woff2'),
    url('./assets/fonts/MuseoSansCyrl-Bold.woff') format('woff');
  font-weight: 700;
}
